<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327685993883-dltoitb4gtra97usrfou7hthepv1p95o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327685993883-dltoitb4gtra97usrfou7hthepv1p95o</string>
	<key>API_KEY</key>
	<string>AIzaSyCeqQxI1ZZT3UqRpVHz3S25wKBULnbdh34</string>
	<key>GCM_SENDER_ID</key>
	<string>327685993883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comdesign.example.firebaseUserLogin</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-aca45</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-aca45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327685993883:ios:3ccbbef2af988facf4dd3e</string>
	<key>DATABASE_URL</key>
	<string>https://phoneauth-aca45.firebaseio.com</string>
</dict>
</plist>